/.vs/CRUD/DesignTimeBuild/.dtbcache
/.vs/CRUD/v15
/.vs/CRUD/v15/*
/CRUD.Common/obj
/CRUD.Common/bin
/CRUD.Repositories/obj
/CRUD.Repositories/bin
/CRUD/ClientApp/package-lock.json
/CRUD/ClientApp/package-lock.json
